@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap&subset=vietnamese');

:root {
    --primary: #fe2c55;
    --text-color: #161823;
    --text-color-des: #16182380;
    --white-color: rgba(255, 255, 255, 1);

    // default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-space: 22px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
}

body {
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}


// Tippy
.tippy-box {
    font-size: 16px;
    letter-spacing: 0.03px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before { 
    top: -8px;
    color: rgba(84, 84, 84, 0.92);
}